.SellinfoContainer{
    display: flex;
    width: 100vw;
    height: 60vh;

    .sellBox{
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .sellOrangeWrapper{
            position: absolute;
            z-index: -5;
            left: -1vw;
            top: 280vh;
            width: 45vw;
            height: 70vh;
            background-color: #F76D0B;
            background: radial-gradient(74.12% 76.27% at 49.96% 48.59%, #F76D0B 24.18%, #FFB079 100%);
            box-shadow: 0px 0px 75px rgba(248, 110, 11, 0.5), inset 0px 0px 65px #FF6A00;
            border-radius: 40px;
            transform: skew(0deg, -2deg);
        }

        .sboxLeftContainer{
            width: 45vw;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            box-sizing: border-box;

            .sbfirstLine{
                display: flex;
                width: 35vw;
                height: 7vh;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .selliconWrapper{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 4vw;
                    height: 5vh;

                    > img{
                        height: 90%;
                        object-fit: contain;
                        margin: 0;
                        padding: 0;

                    }
                }

                .sellTxt{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 15vw;
                    height: 5vh;

                    > p{
                        font-size: 1.8rem;
                        letter-spacing: 0.05rem;
                        color: $white;
                    }
                }
            }

            .sbsecondLine{
                width: 35vw;
                height: 15vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                font-size: 4rem;
                color: $white;

                #sb1{
                    margin: 0;
                    padding: 0;
                    font-weight: bold;
                }

                #sb2{
                    margin: 0;
                    padding: 0;
                    font-weight: lighter;
                }
            }

            .sbthirdLine{
                width: 35vw;
                height: 10vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                > p{
                    font-size: 1.8rem;
                    letter-spacing: 0.08rem;
                    margin: 0;
                    padding: 0;
                    color: $white;
                }
            }

            .sbIconWrapper{
                display: flex;
                width: 35vw;
                align-items: center;
                height: 8vh;
            
                > button{
                    width: 13vw;
                    height: 6vh;
                    border-radius: 40px;
                    background-color: $orange;
                    border-style: solid;
                    border-color: $white;
                    color: $white;
                    cursor: pointer;
                }
            }
        }

        .sboxRightContainer{
            width: 55vw;
            height: 60vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .sellImageWrapper{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 60vw;
                height: auto;
                

                > img{
                    object-fit: contain;
                    z-index: -1;
                    position: relative;
                    bottom: -1vh;
                    right: -1vw;
                }
            }
        }
    }
}