@import "./variables.scss";

.homeBlock{
    background-color: transparent;
    display: flex;
    flex-direction: column;

    .topContainer{
        height: 90vh;
        width: 100vw;
        background-color: transparent;

        .slantContentContainer{
            position: absolute;
            z-index: -2;
            display: flex;
            flex-direction: row;
            width: 100vw;
            height: 60vh;
            background-color: transparent;

            .orangeBox{
                position: absolute;
                z-index: -2;
                width: 60vw;
                height: 105vh;
                display: flex;
                justify-content: flex-start;
                margin: 0;
                padding: 0;
                left: -2vw;
                top:-20vh;
                background-color: transparent;

                > img{
                    object-fit: contain;
                    height: auto;
                    width: auto;
                    margin: 0;
                    padding: 0;
                }
            }

            .videoContainer{
                display: flex;
                width: 50vw;
                height: 70vh;
                justify-content: flex-end;
                align-items: flex-end;
                position: absolute;
                z-index: -1;
                right: -2vw;
                top: -2vh;
                margin: 0;
                padding: 0;
                background-color: transparent;

                > img{
                    object-fit: contain;
                    height: 100%;
                    width: auto;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .introTextContainer{
            width: 100vw;
            height: 60vh;  
            display: flex;
            flex-direction: row;          

            .leftContainer{
                width: 50vw;
                padding-left: 5vw;
                height: 70vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .titleContainer{
                    width: 50vw;
                    display: flex;
                    flex-direction: row;
                    height: 7vh;

                    .imagewrapper{
                        display: flex;
                        width: 2vw;
                        height: auto;
                        justify-content: center;
                        align-items: center;

                        > img{
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .t1{
                        text-align: center;
                        display: flex;
                        width: 30vw;
                        padding-left: 1vw;

                        >p{
                            font-family: $opensans;
                            color: $white;
                            letter-spacing: 0.02vw;
                            font-weight: lighter;
                            font-size: larger;
                        }
                    }
                }
                
                .homeTextContainer{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 50vw;
                    text-align: left;
                    height: 30vh;

                    .headerText{
                        font-family: $nevis;
                        color: $white;
                        font-size: 5vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        

                        #h1{
                            margin: 0;
                            padding: 0;
                            border: 0;
                        }

                        #h2{
                            margin: 0;
                            padding: 0;
                            border: 0;
                        }
                    }

                    .infoText{
                        font-family: $nevis;
                        font-weight: 0.5rem;
                        color: $white;
                        font-size: large;
                        letter-spacing: 0.07vw;
                        line-height: 0.8vh;
                        height: 10vh;
                    }
                }

                .buttonsContainer{
                    display: flex;
                    justify-content: flex-start;
                    font-family: $opensans;
                    font-size: 2vh;
                    height: 10vh;
                    width: 40vw;

                    #b1{
                        background-color: white;
                        border-color: $white;
                        border-radius: 10em;
                        border-style: none;
                        color: $orange;
                        height: 6vh;
                        width: 12vw;
                        margin-right: 1vw;
                        cursor: pointer;
                    }

                    #b2{
                        background-color: transparent;
                        border-color: $white;
                        border-radius: 10em;
                        border-style: solid;
                        color: $white;
                        height: 6vh;
                        width: 12vw;
                        cursor: pointer;
                    }
                }
            }

            .rightContainer{
                width: 50vw;
                height: 80vh;
                background-color: transparent;

                .wrapper1{
                    position: absolute;
                    z-index: -1;
                    right: 0;
                    top: 40vh;
                    height: 15vh;
                    width: 10vw;

                    > img{
                        object-fit: contain;
                        width: 100%;
                    }
                }

                .wrapper2{
                    position: absolute;
                    z-index: -1;
                    right: 9vw;
                    top: 60vh;
                    height: 8vh;
                    width: 4vw;

                    > img{
                        object-fit: contain;
                        height: fit-content;
                        width: 100%;
                        height: auto;
                    }
                }

                .wrapper3{
                    position: absolute;
                    z-index: -1;
                    right: 5vw;
                    top: 65vh;
                    height: 2.5vh;
                    width: 2vw;

                    > img{
                        object-fit: contain;
                        height: fit-content;
                        width: 100%;
                    }
                }
            }
        }

        .bottomTextContainer{
            width: 100vw;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            z-index: -3;
            background-color: $white;
            border-radius: 0 0 3rem 3rem;

            .catchphraseContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $opensans;
                font-size: xx-large;
                color: $eerieblack;
            }

            .featuresContainer{
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .feature{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-family: $opensans;

                    .iconWrapper{
                        height: 5vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        > img{
                            object-fit: contain;
                        }
                    }

                    .headerWrapper{
                        height: 3vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: medium;
                        font-weight: bold;
                    }

                    .textWrapper{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: small;
                        height: 3vh;
                    }
                }
            }
        }

    }

    .middleContainer{
        background-color: transparent;
        display: flex;
        height: 90vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .midImageWrapper{
            height: 45vh;
            width: 100vw;

            > img{
                width: 100%;
                height: auto;
                position: relative;
                top: -40%;
                z-index: -4;
                border-bottom-left-radius: 5vh;
                border-bottom-right-radius: 5vh;
            }
        }

        .purpleContainer{
            background: linear-gradient(90deg, #210042 0%, #431175 50.21%, #210042 100%);
            height: 45vh;
            width: 100vw;
            border-radius: 5vh;

            .headerContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 12vh;
                font-family: $opensans;
                font-size: 1.5rem;
                line-height: 4vh;
                color: $white;
                letter-spacing: 0.1rem;

                > p{
                    margin: 0;
                }
            }

            .componentContainer{
                height: 33vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .categoryContainer{
                    height: 5vh;
                    width: 60vw;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .title {
                        width: 7vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .b1{
                            color: $white;
                            font-family: $opensans;
                            font-size: 1rem;
                            cursor: pointer;
                            background-color: transparent;
                            border-style: none;

                            &:after{
                                background-color: red;
                                color: red;
                            }
                        }
                        
                        
                        
                    }
                }

                .shadowContainer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;

                    > img{
                        width:40%;
                        object-fit: contain;
                    }
                }

                .optionsContainer{
                    width: 100vw;
                    height: 28vh;
                }
            }
        }

    }

    .lastContainer{
        display: flex;
        height: 90vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        background-color: $white;

    }
}