.navBarContainer{
    background-color: transparent;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftnavContainer{
    width: 60vw;
    display: flex;
    align-items: flex-start;

    .HomeLinkContainer{

    }
}

.rightnavContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40vw;

    .bbLinkContainer{

    }

    .rLinkContainer{

    }
}
