@import "./bulkb.scss";
@import "./home.scss";
@import "./navbar.scss";
@import "./notI.scss";
@import "./infobar.scss";
@import "./register.scss";

@import "./media";
@import "./typography";
@import "./variables.scss";
@import "./normalize";

#root {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  
  }
  
  .App {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }