$opensans: 'Open Sans', sans-serif;
$nevis: 'Nevis-bold', sans-serif;

$eerieblack: #202020;
$white: #FFFFFF;
$orange: #FA7024;
$verifiedGreen: #00B45D;

$linearOrangeStart: #FE744F;
$linearOrangeEnd: #EBC605;

$vetricalOrangeStart: #F86E0B;
$verticalOrangeMid: #FB8939;
$verticalOrangeEnd: #F86E0C;

$radialOrangeIn: #F76D0B;
$radialOrangeOut: #FFB079;

$vetricalPurpleStart: #210042;
$verticalPurpleMid: #431175;
$verticalPurpleEnd: #210042;

$radialPurpleIn: #210042;
$radialPurpleOut: #431175;

$radialGreyIn: #FFFFFF;
$radialGreyOut: rgba(255, 255, 255, 0);
