.registerBlock{
    width: 100vw;
    height: 180vh;
    background: linear-gradient(90deg, #F86E0B 0%, #FB8939 50.21%, #F86E0C 100%);
    display: flex;
    flex-direction: row;

    .mainlabel{
        color: $white;
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
    }

    .mainInput{
        width: 22vw;
        height: 4vh;
        border-style: none;
        border-radius: 20px;
    }

    .leftBlock{
        width: 65vw;
        height: 180vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;

        .formContainer{
            width: 30vw;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .titleText{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 7vh;

                > p{
                    color: $white;
                    letter-spacing: 0.08rem;
                    font-size: 1.5rem;
                    font-weight: lighter;
                    margin: 0;
                    padding: 0;
                }
            }
            
            .underText{

                > p{
                    color: $white;
                    letter-spacing: 0.08rem;
                    font-size: 0.9rem;
                    font-weight: lighter;
                    margin: 0;
                    padding: 0;
                }

            }

            .selectAcContainer{
                display: flex;
                flex-direction: row;
                height: 5vh;
                justify-content: center;
                align-items: center;
                color: $white;

                .aformContainer{

                
                    #accButton{
                        color: #F86E0B;
                    }

                    #accLabels{
                        font-size: 0.9rem;
                        letter-spacing: 0.05rem;
                    }
                }

            }
            
            .namesContainer{
                height: 10vh;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 30vw;

                .nameContainer{
                    width: 12vw;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    .namelabelContainer{
                        height: 4vh;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        
                    }

                    .nameinputContainer{

                        #fname{
                            height: 4vh;
                            border-style: none;
                            border-radius: 20px;
                        }

                        #lname{
                            height: 4vh;
                            border-style: none;
                            border-radius: 20px;
                        }
                        
                    }
                }


            }

            .emailContainer{

                .emailinput{

                    #email{

                    }
                }
            }

            .phoneContainer{
                display: flex;
                flex-direction: column;
                width: 30vw;

                .phoneDropdown{
                    display: flex;
                    flex-direction: row;
                    width: 30vw;

                    .extensions{
                        display: flex;
                        width: 6vw;

                        .dropdown{
                            border-style: none;

                            .dropdownoption{

                            }
                        }
                        
                    }

                    .phoneNoinput{
                        display: flex;
                        width: auto;
                        width: 15vw;

                        .contactinput{
                            width: 100%;
                        }

                        
                    }
                }
            }

            .birthDate{
                display: flex;
                flex-direction: column;
                width: 100%;

                .birthabel{

                }

                .dateselectorContainer{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;

                    .daySelector{
                        width: 20%;

                        >select{
                            width: 90%;
                            height: 4vh;

                            > option{

                            }
                        }
                    }

                    .monthSelector{
                        width: 40%;

                        >select{
                            width: 90%;
                            height: 4vh;

                            > option{
                                
                            }
                        }
                    }

                    .yearSelector{
                        width: 40%;

                        >select{
                            width: 90%;
                            height: 4vh;
                            border-radius: 20px;
                            border-style: solid;
                            border-color: $white;
                            color: $white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $orange;
                            padding: 0 20px 0 20px;

                            
                            > option{
                                
                            }
                        }
                    }
                }

            }

            .passwordContainer{

                .plabel1{

                    > p{

                    }
                }

                .pinputContainer{

                    #password{

                    }
                }
            }

            .passwordContainer2{

                .plabel2{

                    > p{

                    }
                }

                .cpinputContainer{

                    #confirmpassword{
                        
                    }
                }
            }

            .cnameContainer{
                
                .cnamelabel{

                    > p{

                    }
                }

                .cnameinputContainer{


                    #cname{
                        
                    }
                }
            }

            .cnumberContainer{
                
                .cnumberlabel{

                    > p{

                    }
                }

                .cnumberinputContainer{


                    #cnumber{
                        
                    }
                }
            }

            .a1Container{

                .alabels{

                    > p{

                    }
                }

                .a1label{

                    > p{

                    }
                }

                .a1inputContainer{


                    #a1{

                    }
                }
            }

            .a2Container{


                .a2label{

                }

                .a2inputContainer{

                    #a2{

                    }
                }
            }

            .cityContainer{


                .citylabel{

                    #lcity{

                    }
                }

                .cityinputContainer{

                    #city{

                    }
                }
            }

            .spContainer{

                .splabelContainer{

                    #splabel{

                    }
                }

                .spinputContainer{

                    #state{

                    }
                }
            }

            .zpContainer{

                .zplabelContainer{

                    #zplabel{

                    }
                }

                .zpinputContainer{

                    #zp{

                    }
                }
            }

            .CountryContainer{

                .countrylabelContainer{

                    #countrylabel{

                    }

                }

                .countryselectContainer{

                }
            }

            .termsContainer{
                
                .termslinkContainer{

                    > p{

                    }

                    > a{

                    }
                }

                .acceptContainer{

                    .acceptradioContainer{

                        #terms{

                        }
                    }

                    .accpetlabelContainer{

                        #alabel{

                        }
                    }
                }
            }

            .captchaContainer{

            }

            .finalContainer{

                #submitb{

                }
            }
        }
    }

    .rightBlock{
        width: 35vw;
        height: 80vh;
        padding-top: 15vh;
        position: relative;
        z-index: 2;

        .staticloginbox{
            width: 20vw;
            height: 35vh;
            position: absolute;
            z-index: 2;
            background: radial-gradient(101.92% 73.78% at 30.14% 67.99%, #210042 0%, #431175 100%);
            border-radius: 50px;
        }

        .loginBox{
            display: flex;
            width: 20vw;
            height: 35vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 3;            

            .logText{
                font-size: 1.6rem;
                
                > p{
                    margin: 0;
                    padding: 0;
                    font-weight: bold;
                    color: $white;
                }
            }

            .logbuttContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 12vw;
                height: 10vh;

                > button{
                    border-style: solid;
                    border-color: $white;
                    width: 90%;
                    height: 55%;
                    border-radius: 30px;
                    background-color: transparent;
                    color: $white;
                }

            }
        }
    }
}